.button-light {
  color: $Color-primary-200;
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  padding: 16px;
  border: 2px solid $Color-primary-200;
  border-radius: 15px;
  background-color: transparent;

  transition: all $transition-duration;

  &:hover {
    color: $Color-primary-100;
    background-color: $Color-primary-200;
  }

  &:active {
    color: $Color-primary-200;
    background-color: transparent;
  }

  &:disabled {
    opacity: 0.4;
  }
}

.button-orange {
  color: $Color-primary-200;
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;

  border: 2px solid transparent;
  border-radius: 15px;
  background-color: $Color-primary-300;

  transition: all $transition-duration;

  &:hover {
    color: $Color-primary-300;
    background-color: transparent;
    border-color: $Color-primary-300;
  }

  &:active {
    color: $Color-primary-200;
    background-color: $Color-primary-300;
    border-color: transparent;
  }
}
