.card {
  border: none;
  box-shadow: 0 0 18px rgba(68, 68, 68, 9%);
  transition: all $transition-duration;

  &__title {
    font-family: Noto Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    color: $Color-primary-100;
  }

  &__year {
    margin-right: 8px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    color: $Color-secondary-200;
  }

  &__details {
    font-family: Noto Sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: $Color-secondary-200;
  }

  &__price {
    font-family: Noto Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: $Color-primary-100;
  }

  &:hover {
    border: 1px solid $Color-secondary-300;
    border-top: none;
  }
}
