@font-face {
  font-family: "Noto Sans";
  src: url(NotoSans-Regular.acda5781.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url(NotoSans-Bold.3df525aa.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(Poppins-Bold.94721583.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(Poppins-Regular.bebfed2f.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 23px;
  color: white;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
.nav__link {
  color: #f8f8f8;
  margin: auto;
  margin-right: 40px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  transition: all 0.3s;
}
.nav__link:last-child {
  margin-right: 0;
}
.nav__link--icon {
  margin-right: 24px;
  transition: all 0.3s;
}
.nav__link--icon:hover {
  transform: scale(1.2);
}
.nav__link--icon:active {
  opacity: 0.7;
}
.nav__link--icon:last-child {
  margin-right: 0;
}
.nav__link:hover {
  color: #f8f8f8;
  transform: scale(1.2);
}
.nav__link:active {
  opacity: 0.7;
}
.header {
  background-image: url(main-photo.2a3307c6.png);
  background-size: cover;
}
.header__content {
  margin: auto;
}
.content {
  color: #f8f8f8;
}
.content__title {
  margin-bottom: 32px;
  padding: 0;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 68px;
}
.content__text {
  margin-bottom: 72px;
  padding: 0;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
.content__text:first-child {
  margin-right: 20px;
}
.button-light {
  color: #f8f8f8;
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  padding: 16px;
  border: 2px solid #f8f8f8;
  border-radius: 15px;
  background-color: transparent;
  transition: all 0.3s;
}
.button-light:hover {
  color: #000;
  background-color: #f8f8f8;
}
.button-light:active {
  color: #f8f8f8;
  background-color: transparent;
}
.button-light:disabled {
  opacity: 0.4;
}
.button-orange {
  color: #f8f8f8;
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  border: 2px solid transparent;
  border-radius: 15px;
  background-color: #DF4E3C;
  transition: all 0.3s;
}
.button-orange:hover {
  color: #DF4E3C;
  background-color: transparent;
  border-color: #DF4E3C;
}
.button-orange:active {
  color: #f8f8f8;
  background-color: #DF4E3C;
  border-color: transparent;
}
.main-content__offers {
  padding: 100px 0px 120px;
}
.main-content__form-subscription {
  padding: 120px 0;
}
.current-offers__title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  text-transform: uppercase;
  margin-bottom: 80px;
  color: #AEAEAE;
}
.current-offers__filters {
  margin-bottom: 24px;
}
.current-offers__sort-filters {
  margin-bottom: 24px;
}
.current-offers__catalog {
  padding: 0;
}
.filters__filter {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  padding: 12px;
  border: 1px solid #BDBDBD;
  border-radius: 15px;
}
.filters__checkbox {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #8D8D8D;
  padding: 0;
}
.filters__sort {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  padding: 0;
}
.filters__sort-title {
  color: #000;
}
.filters__sort-selector {
  color: #8D8D8D;
  border: none;
}
.card {
  border: none;
  box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
  transition: all 0.3s;
}
.card__title {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 23px;
  color: #000;
}
.card__year {
  margin-right: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  color: #8D8D8D;
}
.card__details {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #8D8D8D;
}
.card__price {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #000;
}
.card:hover {
  border: 1px solid #BDBDBD;
  border-top: none;
}
.form-subscription {
  background-color: #000;
}
.form-subscription__content {
  padding: 40px 0;
}
.form-subscription__title {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  color: #f8f8f8;
}
.form-subscription__about {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #f8f8f8;
}
.footer {
  background-color: #000;
  margin: 0;
  padding: 36px 0;
}
/*# sourceMappingURL=index.4ba3a86f.css.map */
