@font-face {
  font-family: "Noto Sans";
  src: url(NotoSans-Regular.acda5781.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url(NotoSans-Bold.3df525aa.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(Poppins-Bold.94721583.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(Poppins-Regular.bebfed2f.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 23px;
  color: white;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
.nav__link {
  color: #f8f8f8;
  margin: auto;
  margin-right: 40px;
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  transition: all 0.3s;
}
.nav__link:last-child {
  margin-right: 0;
}
.nav__link--icon {
  margin-right: 24px;
  transition: all 0.3s;
}
.nav__link--icon:hover {
  transform: scale(1.2);
}
.nav__link--icon:active {
  opacity: 0.7;
}
.nav__link--icon:last-child {
  margin-right: 0;
}
.nav__link:hover {
  color: #f8f8f8;
  transform: scale(1.2);
}
.nav__link:active {
  opacity: 0.7;
}
.header {
  background-image: url(main-photo.2a3307c6.png);
  background-size: cover;
}
.header__content {
  margin: auto;
}
.content {
  color: #f8f8f8;
}
.content__title {
  margin-bottom: 32px;
  padding: 0;
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 68px;
}
.content__text {
  margin-bottom: 72px;
  padding: 0;
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
.content__text:first-child {
  margin-right: 20px;
}
.button-border-light {
  color: #f8f8f8;
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  padding: 16px;
  border: 2px solid #f8f8f8;
  border-radius: 15px;
  background-color: transparent;
  transition: all 0.3s;
}
.button-border-light:hover {
  color: #000;
  background-color: #f8f8f8;
}
.button-border-light:active {
  color: #f8f8f8;
  background-color: transparent;
}
.button-border-light:disabled {
  opacity: 0.4;
}
.button-orange {
  color: #f8f8f8;
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  border: 2px solid transparent;
  border-radius: 15px;
  background-color: #df4e3c;
  transition: all 0.3s;
}
.button-orange:hover {
  color: #df4e3c;
  background-color: transparent;
  border-color: #df4e3c;
}
.button-orange:active {
  color: #f8f8f8;
  background-color: #df4e3c;
  border-color: transparent;
}
.button-light {
  color: #000;
  background-color: #f8f8f8;
  border-radius: 15px;
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 16px;
  border: 2px solid transparent;
  width: 100%;
  transition: all 0.3s;
}
.button-light:hover {
  color: #f8f8f8;
  background-color: transparent;
  border-color: #f8f8f8;
}
.button-light:active {
  color: #000;
  background-color: #f8f8f8;
}
.button-light:disabled {
  opacity: 0.4;
}
.main-content__offers {
  padding: 100px 0px 120px;
}
.main-content__questions {
  margin: 120px 0 200px;
}
.main-content__title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  text-transform: uppercase;
  margin-bottom: 80px;
  color: #aeaeae;
}
.current-offers__title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  text-transform: uppercase;
  margin-bottom: 80px;
  color: #aeaeae;
}
.current-offers__filters {
  margin-bottom: 24px;
}
.current-offers__sort-filters {
  margin-bottom: 24px;
}
.current-offers__catalog {
  padding: 0;
}
.dropdown {
  width: 100%;
}
.dropdown-toggle:after {
  width: 100%;
  display: inline;
}
.sort-icon {
  margin: 0 8px 0 16px;
}
.filters {
  margin-bottom: 12px;
}
.filters__dropdown {
  width: 100%;
}
.filters__filter {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  padding: 12px;
  border-radius: 15px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  background: none;
  width: 100%;
  text-align: start;
}
.filters__filter:focus {
  font-weight: 600;
  border: 1px solid #df4e3c;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: none;
}
.filters__checkbox {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #8d8d8d;
  padding: 0;
}
.filters__checkbox-label {
  margin-left: 8px;
}
.filters__checkbox-label:checked {
  color: #df4e3c;
}
.filters__sort {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  padding: 0;
}
.filters__sort-title {
  color: #000;
}
.filters__sort-width {
  width: fit-content;
}
.filters__sort-selector {
  color: #8d8d8d;
  border: none;
  width: fit-content;
}
.filters__sort-selector:focus {
  background-color: transparent;
  font-weight: inherit;
  border: none;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: none;
}
.form-check {
  margin-bottom: 0;
  position: inherit;
}
.form-check-input {
  position: inherit;
  margin-top: 0;
  float: none;
  margin-left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #8d8d8d;
  box-sizing: border-box;
  border-radius: 3px;
}
.form-check-input:checked {
  background: #df4e3c;
  border-color: #df4e3c;
}
.form-check-input:focus {
  box-shadow: none;
}
.dropdown-toggle::after {
  border: none;
  background: url(dropdown.6bc8d7fe.svg);
}
.dropdown-menu {
  width: 100%;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.04);
  border-radius: 15px;
  min-width: 0;
}
.dropdown-item {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 11px;
  color: #000;
  padding-bottom: 20px;
}
.dropdown-item:hover {
  color: #df4e3c;
  background-color: transparent;
}
.card {
  border: none;
  box-shadow: 0 0 18px rgba(68, 68, 68, 0.09);
  transition: all 0.3s;
}
.card__title {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 23px;
  color: #000;
}
.card__year {
  margin-right: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  color: #8d8d8d;
}
.card__details {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #8d8d8d;
}
.card__price {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #000;
}
.card:hover {
  border: 1px solid #bdbdbd;
  border-top: none;
}
.form-subscription {
  background-color: #000;
}
.form-subscription__content {
  padding: 40px 0;
}
.form-subscription__title {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  color: #f8f8f8;
}
.form-subscription__about {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #f8f8f8;
}
.form-subscription__input {
  color: #f8f8f8;
  border: 1px solid #f8f8f8;
  background: transparent;
  border-radius: 15px;
  padding: 16px;
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  width: 100%;
}
.form-subscription__input-container {
  width: 70%;
  margin-right: 20px;
}
.form-subscription__input__button-container {
  padding: 0;
}
.question {
  border-bottom: 1px solid #c4c4c4;
}
.question__title {
  padding-left: 24px;
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  width: 100%;
  text-align: start;
  padding-bottom: 24px;
  transition: all 0.3s;
}
.question__title:focus {
  box-shadow: none;
  border-bottom: transparent;
}
.question__text {
  font-family: Noto Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #000;
  padding: 0 46px 24px 40px;
  transition: all 0.3s;
}
.question__text-item {
  margin-bottom: 8px;
}
.question__text-item:last-child {
  margin-bottom: 0;
}
.accordion-button::after {
  background-image: url(plus.cfcafabe.svg);
  width: 12px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.accordion-button:not(.collapsed) {
  font-weight: bold;
  color: #df4e3c;
  border-bottom: none;
  background: transparent;
  padding-left: 40px;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(minus.4d6ba697.svg);
  width: 12px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer {
  background-color: #000;
  margin: 0;
  padding: 36px 0;
}
/*# sourceMappingURL=index.4ba3a86f.css.map */
